@CHARSET "UTF-8";
body{
	margin: 0 0;
	padding: 0 0;
	font-family: Helvetica, Arial;
}

header{
	width: 1000px;
	margin: 0 auto;
	background-color: #000000;
	display: table;
}
header #header_content{
	margin: 0 0;
	padding: 0 0;
	color: white;
	display: table-cell;
	min-width: 100%;
}
header img{
	margin:0 0;
	padding: 0 0;
	display: inline-block;
	vertical-align: middle;
}
header #site_name{
	padding: 0 0;
	margin: 0 0;
	display: inline-block;
	text-align: center;
}
header #header_menu{
	margin: 0 0;
	padding: 0 0;
	display: table-cell;
	vertical-align: bottom;
	min-width: 350px;
}
header #header_menu #button{
	display: table-cell;
	text-align: center;
	background-color: #ffffff;
	border-radius: 8px 8px 0px 0px;
}
header #header_menu a{
	vertical-align: middle;
	display: table-cell;
	height: 45px;
	width: 110px;
	color: #000000;
	border-right: solid 0.5px #B4B3B1;
	text-decoration: none;
}
header #header_menu a:hover{
	background-color: #B4B3B1;
	color: #000000;
}
header #header_menu a:last-child{
	border-right: none;
}

#menu{
	width: 1000px;
	margin: 0 auto;
}
#menu ul{
	height: 50px;
	margin: 0 0;
	padding: 0 0;
	background-color: #000000;
}
#menu li{
	display: table-cell;
	list-style-type: none;
	vertical-align: middle;
}
#menu li a{
	vertical-align: middle;
	display: table-cell;
	color: #ffffff;
	height: 50px;
}
#menu li form{
	display: inline;
}